.col-6,col{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    height: auto;
}
.heading-1,.head-desc{
    text-align: center;
}
.form-border{
    border: 2px solid black;
    overflow: hidden;
}
.btn-primary{
    background-color: azure;
    color: black;
}
.rounded-circle{
    height: 400px;
    width: 400px;
}
.form-control{
    border: 1px solid black;
}
.table,.form-group{
    border: none;
}
.table td, .table th{
    border: none;
}
.col-form-label{
    text-align: end;
    font-weight: bold;
    color: white;
}
.form-button{
display: flex;
justify-content: center;
gap: 20px;
}
.rounded-circle{
height: 200px;
width: 200px;

}
.img-border{
border: 2px solid black;
width: 250px;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
}
.section-bg-color{
    background-image: url("https://th.bing.com/th/id/OIP.MPzV-IkcJsOmgQKEGXgLhgHaHa?w=1500&h=1500&rs=1&pid=ImgDetMain");
    overflow: hidden;
    margin-right: 25px;
    margin-left: 25px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding: 0;
}
 